<!-- LIST GROUP WITH BADGES -->
<div class="btn-group pull-left">  
  <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Releve de compteur : {{releve.equ_ID}}</h3>
              <div class="btn-group pull-right">  
                  <button class="btn btn-default" (click)="viderStockage()" [routerLink]="['/home', {outlets: {child1: ['releve2']}}]" skipLocationChange>Retour</button>            
              </div> 
          </div>
          <div class="panel-body">
              <ul class="list-group border-bottom">
                  <li class="list-group-item"><b>ID de compteur:</b> <span class="badge badge-success">{{releve.equ_ID}}</span></li>
                  <li class="list-group-item"><b>Commentaire sur la tournée :</b> <span class="badge badge-success">{{releve.rele_COMMENT}}</span></li>
                  <li class="list-group-item"><b>Date de releve : </b><span class="badge badge-success">{{releve.rele_DT}}</span></li>
                  <li class="list-group-item"><b>Date de création de tournée :</b> <span class="badge badge-success">{{releve.rele_CREDT}}</span></li>
                  <li class="list-group-item"><b>Date de dérniére mise à jour :</b> <span class="badge badge-success">{{releve.rele_UPDTDT}}</span></li>
                 </ul>             
           </div>
      </div>
      </div>
      <!-- END LIST GROUP WITH BADGES -->
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des mesures de releve de compteur {{releve.equ_ID}}</h3>
        <div class="pull-right" style="margin-bottom: 15px;">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                                <input type="search" class="form-control" name="searchString" placeholder="Recherche"  [(ngModel)]="searchString"
                                [value]="searchString">
                    </div>
                        </div>
                </form>
    </div>
    <div class="panel-body">
        <table id="customers2" class="table datatable">
            <thead>
                <tr>
                    <th>Nom de cadran</th>
                    <th>Code de mesure</th>
                    <th>Valeur de mesure</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mesure of mesures | filterMesure : searchString; let i = index">                    
                    <td>{{mesure.mesu_CAD_NAME}}</td>
                    <td>{{mesure.mesu_CAD_CODE}}</td>
                    <td>{{mesure.mes_CAD_INDEX}}</td>
                    <td>{{mesure.mesu_CAD_CREDT}}</td>
                    <td>{{mesure.mesu_CAD_UPDTDT}}</td>
                </tr>                              
            </tbody>
        </table>                                    
        
    </div>
  </div>