<div class="login-container lightmode">
    <div class="login-box animated fadeInDown">
        <div class="login-body" style="margin-bottom:285px;">
            <div class="login-title"><strong>Logo</strong></div>
            <form  class="form-horizontal" #f="ngForm">
            <div class="form-group" style="margin-top: 100px;">
                <div class="col-md-12">
                    <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="responsable.cmpt_PWD" placeholder="Nouveau mot de passe" required [ngModelOptions]="{standalone: true}" #pwd="ngModel" />
                    <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                        <div [hidden]="!pwd.errors.required">
                        C'est obligatoire!
                        </div>
                    </div>
                  </div>
            </div>
            <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                
                <div  style="display: inline-block; width:30%;margin-left: 15px; margin-right: 15px;">
                    <button class="btn btn-danger btn-block" [routerLink]="['/code']">Retour</button>                  
                </div>
                <div  style="display: inline-block; width:30%;">
                    <button class="btn btn-info btn-block" (click)="sendPwd();" [disabled]="pwd.errors">Envoyer</button>
                </div>
            </div>
            </form>
        </div> 
    </div>
</div>
