 <!--******************************Update profile form*************************-->
 <ng-template #content33 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Mise à jour de profil utilisateur</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Formulaire </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
        </div>
      </ng-template>
      <!--****************************************************-->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- END TOGGLE NAVIGATION -->
        <!-- SEARCH -->
        <li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..."/>
            </form>
        </li>   
        <!-- END SEARCH -->
        <!-- SIGN OUT -->
        <li class="xn-icon-button pull-right" style="float:right;">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out" title="Deconnexion"></span></a>                        
        </li> 
        <!-- END SIGN OUT -->
        <!-- PROFILE -->
        <li class="xn-icon-button pull-right" style="float:right">
            <a [routerLink]="['/home', {outlets: {child1: ['help']}}]" skipLocationChange><span class="fa fa-question-circle" title="Aide"></span></a>              
        </li>
        <!-- END PROFILE -->
         <!-- HELP -->
         <li class="xn-icon-button pull-right" style="float:right">
            <a [routerLink]="['/home', {outlets: {child1: ['profile']}}]" skipLocationChange><span class="fa fa-user" title="Mon profile"></span></a>              
        </li>
        <!-- END HELP -->
         <!-- MESSAGES -->
         <li class="xn-icon-button pull-right" style="float:right">
                <a href="#"><span class="fa fa-bell" title="Notifications"></span></a>
                <div class="informer informer-danger">4</div>
                <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-bell-o"></span> Notifications</h3>                                
                        <div class="pull-right">
                            <span class="label label-danger">4 new</span>
                        </div>
                    </div>
                    <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-online"></div>
                            <img src="../assets/img/users/user2.jpg" class="pull-left" alt="John Doe"/>
                            <span class="contacts-title">John Doe</span>
                            <p>Praesent placerat tellus id augue condimentum</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <img src="../assets/img/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                            <span class="contacts-title">Dmitry Ivaniuk</span>
                            <p>Donec risus sapien, sagittis et magna quis</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <img src="../assets/img/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                            <span class="contacts-title">Nadia Ali</span>
                            <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-offline"></div>
                            <img src="../assets/img/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                            <span class="contacts-title">Darth Vader</span>
                            <p>I want my money back!</p>
                        </a>
                    </div>     
                    <div class="panel-footer text-center">
                        <a href="pages-messages.html">Afficher tous</a>
                    </div>                            
                </div>                        
            </li>
            <!-- END MESSAGES -->
        
    </ul>
     <!-- START MODAL ICON PREVIEW -->
     
        <!-- END MODAL ICON PREVIEW -->
          <!-- MESSAGE BOX-->
          <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
                <div class="mb-container">
                    <div class="mb-middle">
                        <div class="mb-title"><span class="fa fa-sign-out"></span> Se <strong>Déconnecter</strong> ?</div>
                        <div class="mb-content">
                            <p>Vous étes sure?</p>                    
                            <p>Cliquez Oui pour se déconnecter.</p>
                        </div>
                        <div class="mb-footer">
                            <div class="pull-right">
                                <button class="btn btn-success btn-lg" click="logout()">Oui</button>
                                <button class="btn btn-default btn-lg mb-control-close">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MESSAGE BOX-->