   <!--******************************Update form*************************-->
   <ng-template #content3 let-c="close" let-d="dismiss">
    <form #updateForm="ngForm" (ngSubmit)="updatePlanification(planificationup)">
    <div class="modal-header">
      <h4 class="modal-title">Mise à jour de Planification</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Nom*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom de Planification" required [(ngModel)]="planificationup.planif_NAME" [ngModelOptions]="{standalone: true}" #nom="ngModel"/>
                            <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                                    <div [hidden]="!nom.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>        
           <div class="form-group">
                <label class="col-md-12 col-xs-12 control-label">Jour*:</label>
                <div class="col-md-12 col-xs-12">                                            
                    <div class="input-group">
                        <select name="jour" class="form-control select" id="jour" required [(ngModel)]="planificationup.planif_DAY" [ngModelOptions]="{standalone:true}" #jour="ngModel">
                            <option selected value="LUNDI">Lundi</option>
                            <option value="MARDI">Mardi</option>
                            <option value="MERCREDI">Mercredi</option>
                            <option value="JEUDI">Jeudi</option>
                            <option value="VENDREDI">Vendredi</option>
                            <option value="SAMEDI">Samedi</option>
                            <option value="DIMANCHE">Dimanche</option>
                        </select>
                        <div *ngIf="jour.errors && (jour.dirty || jour.touched)" class="alert alert-danger">
                                <div [hidden]="!jour.errors.required">
                                Champ obligatoire!
                                </div>
                            </div>
                    </div>                                            
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 col-xs-12 control-label">Type*:</label>
                <div class="col-md-12 col-xs-12">                                            
                    <div class="input-group">
                        <select class="form-control select" name="type" id="type" required [(ngModel)]="planificationup.planif_TYPE" [ngModelOptions]="{standalone:true}" #type="ngModel">
                            <option selected value="PROCHAIN">Prochain</option>
                            <option value="PREMIER_DE_MOIS">Premier de mois</option>
                            <option value="CHAQUE_SEMAINE">Chaque semaine</option>
                        </select>
                        <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                <div [hidden]="!type.errors.required">
                                Champ obligatoire!
                                </div>
                            </div>
                    </div>                                            
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 col-xs-12 control-label">Date de debut de planification*:</label>
                <div class="col-md-12 col-xs-12">                                            
                    <div class="input-group">
                        <input type="datetime-local" name="debut" id="debut" class="form-control" placeholder="Date de debut" required [(ngModel)]="planificationup.planif_DEBDT" [ngModelOptions]="{standalone:true}" #debut="ngModel"/>
                        <div *ngIf="debut.errors && (debut.dirty || debut.touched)" class="alert alert-danger">
                                <div [hidden]="!debut.errors.required">
                                Champ obligatoire!
                                </div>
                            </div>
                    </div>                                            
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 col-xs-12 control-label">Date de fin de planification*:</label>
                <div class="col-md-12 col-xs-12">                                            
                    <div class="input-group">
                        <input type="datetime-local" name="fin" id="fin" class="form-control" placeholder="Date de fin" required [(ngModel)]="planificationup.planif_ENDDT" [ngModelOptions]="{standalone:true}" #fin="ngModel" />
                        <div *ngIf="fin.errors && (fin.dirty || fin.touched)" class="alert alert-danger">
                                <div [hidden]="!fin.errors.required">
                                Champ obligatoire!
                                </div>
                            </div>
                    </div>                                            
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 col-xs-12 control-label">Secteur*:</label>
                <div class="col-md-12 col-xs-12">                                            
                    <div class="input-group">
                        <select name="secteur" id="secteur" class="form-control select" required [(ngModel)]="planificationup.secteur">
                            <option [ngValue]="sectOption.sec_ID === planificationup.secteur?.sec_ID ? planificationup.secteur: sectOption" *ngFor="let sectOption of secteurs" >{{sectOption.sec_NAME}}</option>
                        </select>
                        <div *ngIf="secteur.errors && (secteur.dirty || secteur.touched)" class="alert alert-danger">
                                <div [hidden]="!secteur.errors.required">
                                Champ obligatoire!
                                </div>
                            </div>
                    </div>                                            
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-danger pull-left" style="margin-right: 15px;">Annuler</button>                                    
        <button type="submit" class="btn btn-success pull-right" [disabled]="nom.errors||debut.errors||fin.errors||type.errors||secteur.errors||jour.errors">Ajouter</button>    
    </div>
    </form>
  </ng-template>
  <!-- **********************************add planification form**********************************-->
  <ng-template #content let-c="close" let-d="dismiss">
        <form #addingForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Nouvelle Planification</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label">Nom*:</label>
                        <div class="col-md-12 col-xs-12">                                            
                            <div class="input-group">
                                <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom de Planification" required [(ngModel)]="planification.planif_NAME" [ngModelOptions]="{standalone: true}" #nom="ngModel"/>
                                <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                                        <div [hidden]="!nom.errors.required">
                                        Champ obligatoire!
                                        </div>
                                    </div>
                            </div>                                            
                        </div>
                    </div>        
               <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Jour*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <select name="jour" class="form-control select" id="jour" required [(ngModel)]="planification.planif_DAY" [ngModelOptions]="{standalone:true}" #jour="ngModel">
                                <option selected value="LUNDI">Lundi</option>
                                <option value="MARDI">Mardi</option>
                                <option value="MERCREDI">Mercredi</option>
                                <option value="JEUDI">Jeudi</option>
                                <option value="VENDREDI">Vendredi</option>
                                <option value="SAMEDI">Samedi</option>
                                <option value="DIMANCHE">Dimanche</option>
                            </select>
                            <div *ngIf="jour.errors && (jour.dirty || jour.touched)" class="alert alert-danger">
                                    <div [hidden]="!jour.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Type*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <select class="form-control select" name="type" id="type" required [(ngModel)]="planification.planif_TYPE" [ngModelOptions]="{standalone:true}" #type="ngModel">
                                <option selected value="PROCHAIN">Prochain</option>
                                <option value="PREMIER_DE_MOIS">Premier de mois</option>
                                <option value="CHAQUE_SEMAINE">Chaque semaine</option>
                            </select>
                            <div *ngIf="type.errors && (type.dirty || type.touched)" class="alert alert-danger">
                                    <div [hidden]="!type.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Date de debut de planification*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <input type="datetime-local" name="debut" id="debut" class="form-control" placeholder="Date de debut" required [(ngModel)]="planification.planif_DEBDT" [ngModelOptions]="{standalone:true}" #debut="ngModel"/>
                            <div *ngIf="debut.errors && (debut.dirty || debut.touched)" class="alert alert-danger">
                                    <div [hidden]="!debut.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Date de fin de planification*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <input type="datetime-local" name="fin" id="fin" class="form-control" placeholder="Date de fin" required [(ngModel)]="planification.planif_ENDDT" [ngModelOptions]="{standalone:true}" #fin="ngModel" />
                            <div *ngIf="fin.errors && (fin.dirty || fin.touched)" class="alert alert-danger">
                                    <div [hidden]="!fin.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 col-xs-12 control-label">Secteur*:</label>
                    <div class="col-md-12 col-xs-12">                                            
                        <div class="input-group">
                            <select name="secteur" id="secteur" class="form-control select" required [(ngModel)]="planification.secteur" [ngModelOptions]="{standalone:true}" #secteur="ngModel">
                                <option *ngFor="let sect of secteurs" [ngValue]="sect">{{sect.sec_NAME}}</option>
                            </select>
                            <div *ngIf="secteur.errors && (secteur.dirty || secteur.touched)" class="alert alert-danger">
                                    <div [hidden]="!secteur.errors.required">
                                    Champ obligatoire!
                                    </div>
                                </div>
                        </div>                                            
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-danger pull-left" style="margin-right: 15px;">Annuler</button>                                    
            <button (click)="onSubmit();" class="btn btn-success pull-right" [disabled]="nom.errors||debut.errors||fin.errors||type.errors||secteur.errors||jour.errors">Ajouter</button>    
        </div>
        </form>
      </ng-template>
 
 <!-- START DATATABLE EXPORT -->
 <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Planifications des chargements</h3>
        <div class="btn-group pull-right">
            <button class="btn btn-success" (click)="open(content)">Nouvelle planification</button>
        </div>                                    
        
    </div>
    <div class="panel-body">
            <div class="pull-left" style="margin-bottom: 15px;">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                                    <input type="search" class="form-control" name="searchString" placeholder="Recherche"  [(ngModel)]="searchString"
                                    [value]="searchString">
                        </div>
                            </div>
                    </form>
             </div>
        <table id="customers2" class="table datatable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Etat</th>
                    <th>Jour</th>
                    <th>Type</th>
                    <th>Date de debut</th>
                    <th>Date d'expiration</th>
                    <th>Secteur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let planification of planifications| filterPlan : searchString; let i = index">
                    <td>{{ planification.planif_NAME }}</td>
                    <td>{{ planification.planif_STATE }}</td>
                    <td>{{ planification.planif_DAY }}</td>
                    <td>{{ planification.planif_TYPE }}</td>
                    <td>{{ planification.planif_DEBDT }}</td>
                    <td>{{ planification.planif_ENDDT }}</td>
                    <td>{{ planification.secteur.sec_NAME }}</td>
                    <td>
                        <button class="btn btn-default btn-rounded btn-sm" (click)="openforUpdate(content3,planification)"><span class="fa fa-pencil"></span></button>
                        <button class="btn btn-danger btn-rounded btn-sm" (click)="deletePlanification(planification)"><span class="fa fa-times"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>                                    
        
    </div>
</div>
<!-- END DATATABLE EXPORT -->  

         
