 <!-- START DEFAULT DATATABLE -->
 <!--<div class="btn-group pull-left">
    <button class="btn btn-success">Déchargement</button>
</div><br><br>-->   
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des tournees à valider</h3>
        <ul class="panel-controls">
            <li> <button class="btn btn-primary">Valider & envoyer</button></li>
        </ul>      
    </div>
    <div class="panel-body">
            <div class="pull-left" style="margin-bottom: 15px;">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                                    <input type="search" class="form-control" name="searchString" placeholder="Recherche"  [(ngModel)]="searchString"
                                    [value]="searchString">
                        </div>
                            </div>
                    </form>
             </div>  
        <table id="customers2" class="table datatable">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th *ngIf="!test">Parent</th>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Commentaire</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Etat</th>
                    <th>Date d'affectation</th>
                    <th>Date prévu de réalisation</th>
                    <th>Secteur</th>
                    <th>Releveur</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tournee of avalider | filterTour : searchString; let i = index"> 
                    <th><input type="checkbox"></th>                   
                    <td><span *ngIf="tournee.pere!=null">{{tournee.pere.tour_NAME}}</span></td>
                    <td>{{tournee.tour_CODE}}</td>
                    <td>{{tournee.tour_NAME}}</td>
                    <td>{{tournee.tour_COMMENT}}</td>
                    <td>{{tournee.tour_CREDT}}</td>
                    <td>{{tournee.tour_UPDTDT}}</td>
                    <td>{{tournee.tour_STATE}}</td>
                    <td>{{tournee.tour_AFFDT}}</td>
                    <td>{{tournee.tour_PREVDT}}</td>
                    <td>{{tournee.secteur.sec_NAME}}</td>
                    <td>{{tournee.releveur.cmpt_FIRST_NAME}} {{tournee.releveur.cmpt_LAST_NAME}} </td>
                    <td><button class="btn btn-default btn-rounded btn-sm" (click)="enreg(tournee)" [routerLink]="['/home', {outlets: {child1: ['pdl2']}}]" skipLocationChange><span class="fa fa-info-circle" title="Details"></span></button></td>
                </tr>                              
            </tbody>
        </table>                                    
    </div>
</div>