 <!-- START DEFAULT DATATABLE -->
 <div class="btn-group pull-left">
    <button class="btn btn-success">Déchargement</button>
</div><br><br>   
 <div class="panel panel-default">
        <div class="panel-heading">                                
            <h3 class="panel-title">Tournée T1</h3>
            <ul class="panel-controls">
                    <li> <button class="btn btn-primary">Valider et envoyer</button></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                
            </ul>                                
        </div>
        <div class="panel-body">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>Reference PDL</th>
                        <th>Adresse</th>
                        <th>Proprietaire</th>
                        <th>Numero de compteur</th>
                        <th>Index</th>
                        <th>Releveur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RF123</td>
                        <td>Tunis</td>
                        <td>Aymen Zayani</td>
                        <td>123456</td>
                        <td>1234565</td>
                        <td>Ahmed Ben Ali</td>
                    </tr>
                    <tr>
                        <td>RF123</td>
                        <td>Bardo</td>
                        <td>Hafedh Baazouzi</td>
                        <td>636660</td>
                        <td>1234565</td>
                        <td>Ahmed Ben Ali</td>
                    </tr>
                    <tr>
                        <td>RF231</td>
                        <td>Ben Arous</td>
                        <td>Med Ali Amri</td>
                        <td>662025</td>
                        <td>1234565</td>
                        <td>Ahmed Ben Ali</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
    <!-- END DEFAULT DATATABLE -->
    <div class="panel panel-default">
            <div class="panel-heading">                                
                <h3 class="panel-title">Tournée T2</h3>
                <ul class="panel-controls">
                    <li> <button class="btn btn-primary">Valider et envoyer</button></li>
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>                                
            </div>
            <div class="panel-body">
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Reference PDL</th>
                            <th>Adresse</th>
                            <th>Proprietaire</th>
                            <th>Numero de compteur</th>
                            <th>Index</th>
                            <th>Releveur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>RF123</td>
                            <td>Tunis</td>
                            <td>Aymen Zayani</td>
                            <td>123456</td>
                            <td>1234565</td>
                            <td>Ahmed Ben Ali</td>
                        </tr>
                        <tr>
                            <td>RF123</td>
                            <td>Bardo</td>
                            <td>Hafedh Baazouzi</td>
                            <td>636660</td>
                            <td>1234565</td>
                            <td>Ahmed Ben Ali</td>
                        </tr>
                        <tr>
                            <td>RF231</td>
                            <td>Ben Arous</td>
                            <td>Med Ali Amri</td>
                            <td>662025</td>
                            <td>1234565</td>
                        <td>Ahmed Ben Ali</td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END DEFAULT DATATABLE -->
        <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Tournée T3</h3>
                    <ul class="panel-controls">
                        <li> <button class="btn btn-primary">Valider et envoyer</button></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Reference PDL</th>
                                <th>Adresse</th>
                                <th>Proprietaire</th>
                                <th>Numero de compteur</th>
                                <th>Index</th>
                                <th>Releveur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RF123</td>
                                <td>Tunis</td>
                                <td>Aymen Zayani</td>
                                <td>123456</td>
                                <td>1234565</td>
                                <td>Ahmed Ben Ali</td>
                            </tr>
                            <tr>
                                <td>RF123</td>
                                <td>Bardo</td>
                                <td>Hafedh Baazouzi</td>
                                <td>636660</td>
                                <td>1234565</td>
                                <td>Ahmed Ben Ali</td>
                            </tr>
                            <tr>
                                <td>RF231</td>
                                <td>Ben Arous</td>
                                <td>Med Ali Amri</td>
                                <td>662025</td>
                                <td>1234565</td>
                                <td>Ahmed Ben Ali</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <div class="panel panel-default">
                    <div class="panel-heading">                                
                        <h3 class="panel-title">Tournée T4</h3>
                        <ul class="panel-controls">
                            <li> <button class="btn btn-primary">Valider et envoyer</button></li>
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>                                
                    </div>
                    <div class="panel-body">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Reference PDL</th>
                                    <th>Adresse</th>
                                    <th>Proprietaire</th>
                                    <th>Numero de compteur</th>
                                    <th>Index</th>
                                    <th>Releveur</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>RF123</td>
                                    <td>Tunis</td>
                                    <td>Aymen Zayani</td>
                                    <td>123456</td>
                                    <td>1234565</td>
                                    <td>Ahmed Ben Ali</td>
                                </tr>
                                <tr>
                                    <td>RF123</td>
                                    <td>Bardo</td>
                                    <td>Hafedh Baazouzi</td>
                                    <td>636660</td>
                                    <td>1234565</td>
                                    <td>Ahmed Ben Ali</td>
                                </tr>
                                <tr>
                                    <td>RF231</td>
                                    <td>Ben Arous</td>
                                    <td>Med Ali Amri</td>
                                    <td>662025</td>
                                    <td>1234565</td>
                                    <td>Ahmed Ben Ali</td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DEFAULT DATATABLE -->