
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Gérer mon Compte</h3>
      </div>
      <div class="panel-body">
        <form novalidate (ngSubmit)="updateReleveur(releveurup)">
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Nom*:</label>
            <div class="col-md-12 col-xs-12">                                            
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="releveurup.cmpt_FIRST_NAME"  [ngModelOptions]="{standalone: true}"/>    
              </div>                                            
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Prenom*:</label>
              <div class="col-md-12 col-xs-12">                                            
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="releveurup.cmpt_LAST_NAME"  [ngModelOptions]="{standalone: true}" />
                </div>                                            
              </div>
          </div>
          <div class="form-group">             
            <label class="col-md-12 col-xs-12 control-label">Date de naissance*:</label>                           
            <div class="col-md-12 col-xs-12">
              <div class="input-group">
                <input type="date" class="form-control datepicker" placeholder="Date de naissance" [(ngModel)]="releveurup.cmpt_BIRTH"  [ngModelOptions]="{standalone: true}">                                            
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Sexe*:</label>
            <div class="col-md-12 col-xs-12">                                            
              <div class="input-group">
                <div class="form-check">
                  <label>
                    <input name="cmpt_SEXE" value="HOMME" type="radio" class="with-gap" [(ngModel)]="releveurup.cmpt_SEXE" [ngModelOptions]="{standalone: true}">Homme
                  </label>
                </div><br/>
                <div class="form-check">
                  <label>
                    <input name="cmpt_SEXE" value="FEMME" type="radio" class="with-gap" [(ngModel)]="releveurup.cmpt_SEXE" [ngModelOptions]="{standalone: true}">Femme
                  </label>
                </div>
              </div>                                            
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Email*:</label>
            <div class="col-md-12 col-xs-12">                                            
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="releveurup.cmpt_EMAIL"  [ngModelOptions]="{standalone: true}"/>
              </div>                                            
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Numéro de telephone*:</label>
             <div class="col-md-12 col-xs-12">                                            
                <div class="input-group">
                  <input type="tel" class="form-control" placeholder="Numero de telephone" [(ngModel)]="releveurup.cmpt_PHONE"  [ngModelOptions]="{standalone: true}"/>
                </div>                                            
              </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-xs-12 control-label">Login*:</label>
            <div class="col-md-12 col-xs-12">                                            
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Login" [(ngModel)]="releveurup.cmpt_LOGIN"  [ngModelOptions]="{standalone: true}"/>
              </div>                                            
            </div>
          </div>
          <div class="form-group">                                        
            <label class="col-md-12 col-xs-12 control-label">Mot de passe*:</label>
            <div class="col-md-12 col-xs-12">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="releveurup.cmpt_PWD"  [ngModelOptions]="{standalone: true}"/>
              </div>            
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label>Photo:</label><br/>
              <input type="file" multiple id="file-simple" accept="image/*" (change)="onSelectFile($event)"/>
              <label id="upload-photo-label" for="file-simple">Parcourir</label>
            </div>                                            
          </div>      
          <div class="form-group">
            <div class="col-md-12">
              <img [src]="url" height="200">
            </div>
          </div>
          <div class="form-group">
              <div class="col-md-12">
                  <label>Photo:</label>
                  <input type="file" multiple class="file" data-preview-file-type="any"/>
              </div>
              
          </div>
          
          <div class="form-group">                          
            <button type="reset" class="btn btn-danger pull-left" style="margin-right: 15px;">Annuler</button>                                    
            <button type="submit" class="btn btn-success pull-right">Envoyer<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>                
          </div>        
        </form>
      </div>
  </div>