<div class="login-container lightmode">
    <div class="login-box animated fadeInDown">
        <div class="login-body" style="margin-bottom:285px;">
            <div class="login-title"><img src="../../assets/img/logos.png"></div>
            <div class="alert alert-danger" *ngIf="mod==1">Code incorrect!!</div>
            <form  class="form-horizontal" #f="ngForm">
            <div class="form-group" style="margin-top: 10px;">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="valeur" name="valeur" [(ngModel)]="code.valeur" placeholder="Tapez le code que vous avez reçu dans votre email" required [ngModelOptions]="{standalone: true}" #valeur="ngModel" />
                    <div *ngIf="valeur.errors && (valeur.dirty || valeur.touched)" class="alert alert-danger">
                        <div [hidden]="!valeur.errors.required">
                        C'est obligatoire!
                        </div>
                    </div>
                  </div>
            </div>
            <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                
                <div  style="display: inline-block; width:30%;margin-left: 15px; margin-right: 15px;">
                    <button class="btn btn-danger btn-block" [routerLink]="['/forget']">Retour</button>                  
                </div>
                <div  style="display: inline-block; width:30%;">
                    <button class="btn btn-info btn-block" (click)="sendCode();" [disabled]="valeur.errors">Envoyer</button>
                </div>
            </div>
            </form>
        </div> 
    </div>
</div>